@import "tailwindcss";
@theme {
  --color-primary: #1e41ff;
  --color-primary-dark: #030d45;
  --color-lightgray: #f5f5f5;

  --animate-ticker: ticker 10s ease infinite;

  @keyframes ticker {
    0% {
      transform: translateX(-60%);
    }

    100% {
       {
        transform: translateX(0%);
      }
    }
  }
}

@layer base {

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-[clamp(2rem,_calc(3rem+1vw),_4rem)]/20 mb-5;
  }
  h2 {
    @apply text-[clamp(1.6rem,_calc(2.5rem+1vw),_3rem)]/15 mb-5;
  }

  p{
    @apply mb-5 text-base/7;
  }

  .container {
    @apply max-w-[1400px] mx-auto w-full;
  }
}